<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    
    {{>links}}
    <style>
        body{
  
        }
    </style>
    
</head>
<body>
      <h1 class="mainh1">secret page</h1>
    {{>navbar}}
   {{>header}}
    <div class="main container">
<div class="row">
    <div class="col-md-12">
        <h1>secret page is getting login</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, voluptatibus!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum error minima totam expedita delectus odit unde ex. Cupiditate quia, tempore praesentium molestiae, vitae at consequuntur rerum laborum labore reprehenderit ut!.</p>
    </div>
</div>
    </div>
    {{>footer}}

 
</html>