<div class="header conatiner-fluid">
    <nav class="navbar navbar-expand-sm">
        <a href="" class="navbar-brand">User Registertaion form</a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#mycollapse">
            <span class="navbar-toggler-icon text-success bg-primary"></span>
        </button>
      <div class="navbar-collapse collapse " id="mycollapse">
            <ul class="navbar-nav ml-sm-auto">
            <li class="nav-items"><a href="/" class="nav-link">home</a></li>
             <li class="nav-items"><a href="/login" class="nav-link">login</a></li>
              <li class="nav-items"><a href="/register" class="nav-link">registeration</a></li>
                 <li class="nav-items"><a href="/secret" class="nav-link">secret</a></li>
        </ul>
    </nav>
      </div>
</div>